In [ ]:
t1 = (10, 20, 30, 40)
print(t1)

(10, 20, 30, 40)

In [ ]:
t1 = (10, 40)
print(t1)

(10, 40)

In [ ]:
t = (5, 10, 15)
print(t[1])

10

In [ ]:
t = (5, 10, 15)
print(t[2])

15

In [ ]:
t = ("apple", "banana", "mango")
print("banana" in t)

True

In [ ]:
t = ("red", "green", "blue")
for color in t:
    print(color)

red
green
blue

In [ ]:
t = ("delhi", "chandigarh", "mumbai")
for city in t:
    print(city)

delhi
chandigarh
mumbai

In [ ]:
t = (1, 2, 3, 4, 5, 6)
print(t[1:4])   # 2,3,4

(2, 3, 4)

In [ ]:
t = ("a", "b", "c")
for x in t:
    print(x)

a
b
c

In [ ]:
t1 = (1, 2)
t2 = (3, 4)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4)

In [ ]:
def add(a, b):
    return a + b

print(add(10, 20))

30

In [ ]:
def wish(name="User"):
    print("Hello", name)

wish()
wish("Ankit")

Hello User
Hello Ankit

In [ ]:
def calculate(a, b):
    return a + b, a * b

sum_val, mul_val = calculate(7, 3)
print(sum_val, mul_val)

10 21

In [ ]:
def print_numbers(n):
    for i in range(1, n+1):
        print(i)


print_numbers(20)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
s = 0
for i in range(1, 11):
    s += i
print(s)

55